{
  "plugins": ["jsx-a11y", "react-hooks", "react"],
  "rules": {
    "@next/next/no-img-element": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "warn", // eventually error,
    "@typescript-eslint/no-unsafe-assignment": "warn", // eventually error
    "@typescript-eslint/no-unsafe-member-access": "warn", // eventually error
    "@typescript-eslint/no-unsafe-call": "warn", // eventually error
    "@typescript-eslint/no-unsafe-return": "warn", // eventually error
    "@typescript-eslint/explicit-function-return-type": "warn", // eventually error
    "@typescript-eslint/no-floating-promises": "warn", // eventually error
    "@typescript-eslint/restrict-template-expressions": "warn" // eventually error
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@next/next/recommended"
  ],
  "parserOptions": {
    "project": ["tsconfig.json"]
  }
}
