@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background-color: #171717;
  }
}

@layer components {
  .bg-light-green {
    background-color: #35cfff;
  }
}

.bottom-logo {
  position: absolute;
  width: 113px;
  height: 118px;
  bottom: 0px;
  right: 72px;
}
