.page-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  display: flex;
  color: #ffffff;
}

/* style for sub header in discover page */
.discover-sub-header {
  width: 631px;
  height: 19px;
  left: 261px;
  top: 238px;

  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
