.discover-sub-header {
  width: 631px;
  height: 19px;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.seperator {
  border-top: 1px solid #5f5f5f;
}
