/* new animation */
.wrapper-cell {
  display: flex;
  margin-bottom: 15px;
}

@keyframes animate {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-background,
.text-line,
.image,
.card-placeholder,
.discover-placeholder {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: animate;
  animation-name: animate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: linear-gradient(to right, #323232 8%, #3b3939 18%, #323232 33%);
  background-size: 800px 104px;
  height: 96px;
}

.image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.text {
  width: 75%;
}

.text-line {
  height: 10px;
  margin: 4px 0;
  border-radius: 1px;
}

.card-placeholder {
  width: 95px;
  height: 34px;
  border-radius: 4px;
  margin-right: 12px;
}
.discover-placeholder {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 12px;
}
