/* sidebar */
.sidebar {
  border-right: 1px solid #797979;
  width: 13%;
}

.active {
  color: #35cfff;
  border-right: 5px solid #35cfff;
}
.link {
  margin: 4px 0 4px 10px;
  margin: 4px 0 4px 10px;
  width: 147px;
  height: 27px;
  /* left: 34px; */
  /* top: 122px; */
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
