.footer {
  width: 100vw;
  /* bottom: 50px; */
  height: 17px;
  /* margin: auto; */
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
