.card {
  width: 185px;
  height: 160px;
  border-radius: 10px;
}

/* style for text below each card on discover page */
.subText {
  height: 30px;
  width: 185px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a0a0a0;
}

/* styles for cards */
.lilMiquela {
  background: linear-gradient(180deg, #1200e3 0%, #cc00ff 100%);
}
.cryptoart {
  background: linear-gradient(180deg, #e30e00 0%, #ffc700 100%);
}

.cryptomemes {
  background: linear-gradient(180deg, #3be300 0%, #00c2ff 100%);
}

.see-more {
  border: 1px solid #6c6c6c;
}

.social-tokens {
  background: linear-gradient(180deg, #e30096 0%, #bd00ff 100%);
}

.women-founders {
  background: linear-gradient(180deg, #009fe3 0%, #fff500 100%);
}

.black-founders {
  background: linear-gradient(180deg, #e37b00 0%, #0047ff 100%);
}

.yield-farming {
  background: linear-gradient(180deg, #e30000 0%, #00a3ff 100%);
}

.wealth-protection {
  background: linear-gradient(180deg, #c4e300 0%, #7000ff 100%);
}

.zora {
  background: linear-gradient(180deg, #00e392 0%, #bd00ff 100%);
}

.the-graph {
  background: linear-gradient(180deg, #004de3 0%, #00fff0 100%);
}

.tera {
  background: linear-gradient(180deg, #e30052 0%, #00ff66 100%);
}

.ideo-liquidity {
  background: linear-gradient(180deg, #E36D00 0%, #FAFF00 100%);
}
